@import "./vars";
@import "./vendor/reset.scss";

html {
    font-size: 10px;
}

body {
    background-color: $black;
    font-size: 2rem;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-nature {
    background-image: url('../images/background-nature.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-gradient {
    background-image: url('../images/gradient.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 6rem;
    font-weight: 700;
    color: $gray;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
    color: $gray;
    font-style: italic;
}

p {
    font-family: 'Manrope';
    font-size: 2rem;
    color: $gray-text;
}

.slider_arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('../images/slider-arrow.svg') no-repeat center;
    cursor: pointer;

    &-left {
        top: 50%;
        left: -60px;
        transform: rotate(0.5turn)
    }

    &-right {
        top: 50%;
        right: -60px;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 6px;
    }
}

@import "./blocks/header.scss";
@import "./blocks/page.scss";
@import "./blocks/aromas.scss";
@import "./blocks/aroma-page.scss";
@import "./blocks/bussiness.scss";
@import "./blocks/media/bussiness-media.scss";
@import "./blocks/footer.scss";
