.footer {
  width: 100%;
  flex-direction: column;
  padding: 10px 30px 40px 10px;
  gap: 20px;

  &__top {
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid $gray;

    &_name {
      font-family: 'Playfair Display';
      font-size: 6rem;
      font-weight: 600;
    }

    .socials {
      flex-direction: column;
      align-items: flex-start;

      &__text {
        font-family: 'Manrope';
        font-size: 24px;
        font-weight: 500;
      }

      &__icons {
        justify-content: space-between;
        gap: 8px;
        margin-top: 30px;

        & > div {
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          background-color: #000000;
          border-radius: 6px;
          cursor: pointer;
        }
      }
    }
  }

  &__bottom {
    width: 100%;
    justify-content: space-between;
    font-family: 'Manrope';
    font-size: 2rem;
    color: $gray-text;

    &_policy {
      flex-direction: column;
      align-items: flex-start;
    }

    &_info {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 55px;
    }
  }
}
