.header {
  width: 100%;
  height: 300px;
  justify-content: space-between;
  padding: 10px 35px;
  position: absolute;
  top: 0;
  max-width: 1600px;

  &__name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18rem;
    color: $gray;
  }

  &__nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    & > div {
      font-family: 'Manrope';
      font-weight: 500;
      font-size: 2rem;
      color: $gray;
      padding: 5px;
      cursor: pointer;

      &:hover {
        font-style: italic;
      }
    }

    &_basket {
      justify-content: space-between;

      & > p {
        color: $gray;
      }

      &_value {
        margin-left: 100px;
      }
    }
  }
}
