<div class="aromaPage background-nature">
  <div class="aromaPage__container flex">
    <h2 class="aromaPage__title">Bagatelle</h2>
    <p class="aromaPage__content">Путешествие и романтика.
      Изысканность и роскошь.
      Очутимся вместе в розовом саду Парижского дворца? Вдохните полной грудью этот нежный цветочный флер и в голове точно возникнет картина забвения: ведь когда у Вас в замке есть свой собственный сад, едва ли Вам захочется чего-то еще. Уточненный бленд эфирных масел розового дерева, гвоздики и мирры перенесет вас туда, где никто не достанет Вас кроме тех, кому вы позволите.
    </p>
    <div class="aromaPage__nav flex">
      <a href="http://">главная</a>
      <a href="http://">ароматы</a>
      <a href="http://">bagatelle</a>
    </div>
  </div>
</div>