<div class="aromaPage">
  <div class="aromaPage__container background-nature flex">
    <div class="aromaPage__nav flex">
      <a href="http://">главная</a>
      <a href="http://">ароматы</a>
      <a href="http://">bagatelle</a>
    </div>
    <div class="aromaPage__info flex">
      <h2 class="aromaPage__title">Bagatelle</h2>
      <p class="aromaPage__content">Путешествие и романтика.
        Изысканность и роскошь.
        Очутимся вместе в розовом саду Парижского дворца? Вдохните полной грудью этот нежный цветочный флер и в голове точно возникнет картина забвения: ведь когда у Вас в замке есть свой собственный сад, едва ли Вам захочется чего-то еще. Уточненный бленд эфирных масел розового дерева, гвоздики и мирры перенесет вас туда, где никто не достанет Вас кроме тех, кому вы позволите.
      </p>
    </div>
  </div>
  <div class="aromaPage__product flex">
    <h2 class="aromaPage__product_title">В ПРОДУКТАХ</h2>
    <div class="aromaPage__product_slider flex">
      <!-- Slider -->
      <div class="aromaPage__product_element flex">
        <div class="aromaPage__product_name">1. PTRCHR CERAMIC</div>
        <div class="aromaPage__product_content flex">
          <img src="../assets/images/flask.svg" alt="flask">
          <a href="http://">подробнее</a>
        </div>
      </div>
      <div class="aromaPage__product_element flex">
        <div class="aromaPage__product_name">2. PTRCHR CERAMIC</div>
        <div class="aromaPage__product_content flex">
          <img src="../assets/images/flask.svg" alt="flask">
          <a href="http://">подробнее</a>
        </div>
      </div>
      <div class="aromaPage__product_element flex">
        <div class="aromaPage__product_name">3. PTRCHR CERAMIC</div>
        <div class="aromaPage__product_content flex">
          <img src="../assets/images/flask.svg" alt="flask">
          <a href="http://">подробнее</a>
        </div>
      </div>
      <div class="slider_arrow slider_arrow-left"></div>
      <div class="slider_arrow slider_arrow-right"></div>
    </div>
  </div>
</div>