<footer>
  <div class="footer flex">
    <div class="footer__top flex">
      <div class="footer__top_name">PTRCHR</div>
      <div class="socials flex">
        <div class="socials__text">ДЛЯ СВЯЗИ С НАМИ:</div>
        <div class="socials__icons flex">
          <div class="socials__icons_instagram">
            <a href="http://"><img src='../assets/images/instagram.svg' /></a>
          </div>
          <div class="socials__icons_telegram">
            <a href="http://"><img src='../assets/images/telegram.svg' /></a>
          </div>
          <div class="socials__icons_vk">
            <a href="http://"><img src='../assets/images/vk.svg' /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom flex">
      <div class="footer__bottom_policy flex">
        <p>ESTD 2023</p>
        <p>политика конфиденциальности</p>
      </div>
      <div class="footer__bottom_info">
        <p>+7 (995) 889-2656</p>
        <p>info@ptrchr.org</p>
      </div>
    </div>
  </div>
</footer>
